
;body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #FFFFFF;
    height: 100%;

}

main {
    flex: 1 0 auto;
}

.btn:hover{
	z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 0;
}


.input-field input[type=date]:focus+label, .input-field input[type=text]:focus+label, .input-field input[type=email]:focus+label, .input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus, .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}
