@-ms-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body{
    background: url('../images/banner.jpg') no-repeat center center fixed !important;
    display: compact;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    background-color: #FFFFFF;
}
.half-circle{
  height: 20rem;
  width: 40rem;
  border: 0;
  border-radius: 40rem 40rem 0 0;
  -webkit-background-radius: 40rem 40rem 0 0;
  -moz-background-radius: 40rem 40rem 0 0;
  -o-background-radius: 40rem 40rem 0 0;
  background: yellow;
  vertical-align: bottom;
  position: absolute;;
  left: 0;
  bottom: 0;
}
