@-ms-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    background: url('../images/banner.jpg') no-repeat center center fixed !important;
    display: compact;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFFFFF;
}


/* Navigation */

#nav-primary a.navbar-brand {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.2;
}

#nav-primary .btn-secondary-outline {
    color: #FFFFFF;
    background-color: #D9534F;
}

#nav-primary .btn-secondary-outline:hover {
    background-color: #FFFFFF;
    color: #D9534F;
}

#nav-primary .btn-secondary-outline.active, #nav-primary .btn-secondary-outline.focus, #nav-primary .btn-secondary-outline:active, #nav-primary .btn-secondary-outline:focus {
    background-color: #fff;
    color: #D9534F;
}

.main-login {
    margin-top: 2em;
}

.form-signin {
    /* max-width: 330px; */
    padding: 1em;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#card1 {
    float: none;
    margin: 0px auto;
}
